/* ========== CSS untuk tabel keluhan ========== */

#title {
    text-align: center;
    font-family: arial, sans-serif;
}
  
#keluhan {
    text-align: center;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}
  
#keluhan td, #keluhan th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#keluhan tr:nth-child(even){background-color: #f2f2f2;}
  
#keluhan tr:hover {background-color: #ddd;}
  
#keluhan th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

/* ======================================================== */