.header {
    background-color: white;
}

.header-keluar {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 17px;
    color: gray;
    margin-right: 25px;
    margin-left: auto;
    font-style: italic;
}

@media(max-width:767px) {
    .header-image {
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
    }
}