.navbar-row {
    color: gray;
    background-color: white;
    text-align: center;
    width: 100%;
}

.navbar-row .col {
    padding-left: 0;
    padding-right: 0;
}

.navbar-aktif {
    color: yellowgreen;
}

.navbar-nonaktif {
    color: black;
}

.navbar-row h5:hover {
    cursor: pointer;
}